.help {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: whitesmoke;
}

.help-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.help-container>h1 {
    font-size: 24px;
    font-weight: bold;
    align-self: stretch;
}

.help-container>svg {
    width: 30px;
    height: 30px;
    margin-left: 100px;
    align-self: center;
}

.help>div, .help>section {
    padding: 20px;
    margin: 0;
}

.help--show {
    display: flex;
}

.help--hide {
    display: none;
}

.help-row>img {
    width: 40%;
    height: auto;
}