.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 41);
    color: whitesmoke;
}

.restart--hide {
    display: none;
}

.restart--show {
    display: auto;
}

th, td {
    border: 3px solid #858585;
    padding: 5px;
}

table {
    border-spacing: 6px;
}

.cell {
    background-color: rgb(41, 41, 41);
    /* color: whitesmoke; */
    font-size: 20px;
    /* Bold */
    font-weight: bold;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    width: 40px;
    height: 40px;
}

.green {
    background-color: #0e520e;
}

.orange {
    background-color: #925f00;
}

.grey {
    background-color: #808080;
}

.black {
    background-color: rgb(41, 41, 41);
}