.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App--hide {
  display: none;
}

.App--show {
  display: flex;
}